@import "mixin";
@import "menu";
@import "mobile";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @include background;
    background: $primary-color;
    // background: linear-gradient(rgba($primary-color, 0.9), rgba($primary-color, 0.9) ), url(../asset/img/meeting.jpg);
    color: set-text-color($primary-color);
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    // color: set-text-color($primary-color);
    color: $menu-text-color;
    text-decoration: none;
}

.secondary-text {
    color: $secondary-color;
}

.lg-heading {
    font-size: 6rem;
}

//==========  header section  ========= //

//==========  hero section  ========= //

.hero-section {
    text-transform: uppercase;
    height: 100vh;
    padding: 4rem 6rem;

    h1,
    h2,
    h3 {
        margin: 0;
        font-weight: 400;
    }

    .social-icon {
        margin-top: 3.5rem;

        a {
            padding: 5px;
            color: set-text-color($primary-color);

            &:hover {
                @include easeOut();
                color: $secondary-color;
            }
        }
    }
}

//==========  about section  ========= //
.about-section {
    img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .box {
        margin: 5px;
        padding: 10px;
        text-align: center;
        border: 2px solid $secondary-color;
        border-radius: 5px;
    }
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.3);
}

//==========  contact section  ========= //

#contact {
    height: 90vh;

    .contact-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 8rem;
        font-size: 24px;

        div {
            border: 3px solid $secondary-color;
            padding: 12px 20px;
            margin: 12px;
            @include easeOut;

            &:hover {
                padding: 6px 10px;
                background: $secondary-color;
                color: set-text-color($secondary-color);

                span {
                    color: set-text-color($secondary-color);
                }
            }
        }
    }
}

//==========  footer section  ========= //

footer {
    background: $primary-color;
    padding: 15px 0;
    text-align: center;
    color: $secondary-color;
    font-size: 18px;
    border-top: 2px solid $secondary-color;
}
